/testing.py
/functions.py
/testnet.py
/testwallet.txt
/templates/check_balance.html
/templates/balance_failed.html
/static/qr_code.png

/.DS_Store
__pycache__/
.pytest_cache/

*.pyc
.env
venv/
/.vscode
/qrcode

instance/
.coverage
htmlcov/

dist/
build/
*.egg-info/