{% extends 'base.html' %}
{% block title %}About{% endblock %}

{% block content %}
<h3><a href ="https://worlddatascience.tech/" target="_blank">World Data Science Institute</a></h3>
<h3><a href="https://www.stellar.org/" target="_blank">Stellar Development Foundation</a></h3>
<p style="font-size: 14px">Note: CryptoShare is <b>not</b> associated with the SDF.</p>
<div class="card_faq">
    <h2>Q&A</h2>
    <button class="accordion">1. Is the Crypto$hare wallet just a wallet, or an exchange?</button>
    <div class="panel">
        The Crypto$hare wallet is just a wallet. Your keys are securely stored in <i>your</i> browser's cookies.
        As such, Crypto$hare does NOT have access to your keys. We want to give users the most control over their funds.
        You can <a href="/buy">purchase XLM directly from us</a>, but we do not manage these funds.
        They will go directly to your wallet.
    </div>
    <button class="accordion">2. Why the Stellar blockchain? Why not Ethereum, Binance Smart Chain (BSC), etc.?</button>
    <div class="panel">
        Stellar's blockchain provides fast and extremely cheap transactions.<br>
        Ether gas fees can get quite high during times of congestion,
        and we wouldn't want users to lose money to gas fees.<br>
        Additionally, choosing to use less gas causes your transaction to take longer to be approved.
        Likewise, BSC transaction fees can spike during high transactions periods.<br><br>
        Stellar's transaction fee has nearly always been so cheap that it would take 10,000 transactions to spend, in total, 1 XLM in fees.</li>
    </div>
</div>

<script>
    var acc = document.getElementsByClassName("accordion");
    var i;
    
    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function() {
            /* Toggle between adding and removing the "active" class,
            to highlight the button that controls the panel */
            this.classList.toggle("active");
            
            /* Toggle between hiding and showing the active panel */
            var panel = this.nextElementSibling;
            if (panel.style.display === "block") {
                panel.style.display = "none";
            } else {
                panel.style.display = "block";
            }
        });
    }
</script>
{% endblock %}