{% extends 'base.html' %}
{% block title %}Create New Wallet{% endblock %}

{% block content %}
<h3>Create New Wallet</h3>
<p>Here is your seed phrase:</p>
<p>{{ phrase }}</p>
<p>And your secret key:</p>
<p>{{ secret_key }}</p>
<p>Please note that this is the <b>only</b> time your seed phrase and secret key will be displayed!</p>
<br>
<p>Your public address for receiving XLM is:</p>
 <p>{{ public_key }}</p>
 <p><a href="/import_wallet">Load This Wallet</a></p>
 <p><a href = "/">Home</a></p>
{% endblock %}