{% extends 'base.html' %}
{% block title %}Import Existing Wallet{% endblock %}

{% block content %}
<p>To import an existing Stellar Lumens wallet, please enter your 12 word seed phrase.<br>
    Enter one word at a time, all lowercase, and with a space between each word.</p>
<form action="/imported" method="POST">
<p><input action="/imported" size="60"
    type="text" name="phrase" pattern="[a-zA-Z][a-zA-Z ]+{4,}"
    autofocus required
    title="Enter your seed phrase one word at a time with spaces."></p>
<p><button type="submit" formaction="/imported">Submit</button></p></form>
{% endblock %}