{% extends 'base.html' %}
{% block title %}Stellar Wallet - Home{% endblock %}

{% block content %}
<h4><p>Welcome! There is currently no wallet connected.</p></h4>
    <p>Select what you'd like to do:</p>
        <p><a href="/create">Create A New Wallet</a></p>
        <p><a href="/import_wallet">Recover An Existing Wallet</a></p>
        <p><a href="/check_balance">Check An Address Balance</a></p>
        <p>Current XLM Price: {{ price }} (via <a href = "https://coingecko.com">CoinGecko</a>)</p>
        <p style="font-size:12px">Last update: {{ update_time }}</p>
        <p style="font-size:12px">Price updates upon refresh.</p>
{% endblock %}
