{% extends 'base.html' %}
{% block title %}Stellar Wallet - Home{% endblock %}

{% block content %}
</div>

<div class = "card">
  <div class= "card_top">
    {% if logged_in %}
    <strong class="name">Welcome back!</strong>
    {% else %}
    <strong class="name">Welcome!<br>
    There is no wallet connected.</strong>
    {% endif %}
  </div>
  <div class="card_mid">
    <p>Current Balance: {{user_balance}} XLM ({{usd_equiv}})</p>
    <ul class="pills">
      <div class = "table">
    <li class="pill" style="display:inline-block;" onClick="window.location.reload();">
      <a href="/">Refresh Balance</a>
    </li>
  </div>
  </ul>
<!-- to do: make this button call the get_bal function to refresh account balance
        WITHOUT refreshing the page-->
  </div>
  {% if logged_in %}
  <div class="card_bottom">
    Your public address:<br>
      {{ pub_address }}
  </div>
  {% else %}
  {% endif %}
</div>

<div class = "card">
  <div class = "card_top">
    <strong class="name"><p>Select what you'd like to do:</p></strong>
    {% if logged_in %}
    <div class = "card_mid">
      <p><a href = "/send"><button type="button">Send Funds</button></a><br></p>
      <p><a href="qr_code"><button type="button">Display QR Code</button></a><br></p>
      <p><a href="/transactions"><button type="button">View Transaction History</button></a><br></p>
      {% else %}
      <a href="/create"><button type="button">Create A New Wallet</button></a></p>
      <a href="/import_wallet"><button type="button">Recover An Existing Wallet</button></a>
      {% endif %}
    </div>
  </div>
</div>

<div class="card">
  <div class="card_top">
    <strong class="price" style="text-align: center;">XLM Market Price - Past 24 Hours</strong>
  </div>
  <div class="card_mid">
    <script src="https://widgets.coingecko.com/coingecko-coin-price-chart-widget.js"></script>
    <coingecko-coin-price-chart-widget  coin-id="stellar" currency="usd" height="300" locale="en"></coingecko-coin-price-chart-widget>
  </div>
</div>

{% endblock %}