{% extends 'base.html' %}

{% block content %}
<h3><p>Welcome! Your wallet is connected.</p></h3>

<p>Your public address:<br>
    {{ pub_address }}</p>
<p><button  id="toggleButton" onclick="toggleBalance();changeText()">Hide Balance</button></p>
<div id="userBalance">
<p>Current Balance: {{ user_balance }} XLM ({{ usd_equiv }})</p>
</div>

<!-- to do: make this button call the get_bal function to refresh account balance -->
<p><button disabled>Refresh Balance</button></p>

    <p>Select what you'd like to do:</p>
      <p><a href = "/send"><button type="button">Send Funds</button></a></p>
      <p><a href="qr_code"><button type="button">Display QR Code</button></a></p>
      <p><a href="/transactions"><button type="button">View Transaction History</button></a></p>
      <div id ="priceinfo"><p>Current XLM Price: {{ price }} via <a href = "https://coingecko.com">CoinGecko</a></p>
        <p style="font-size:12px">Last update: {{ update_time }}</p>
        <p style="font-size:12px">Price updates upon refresh.</p>
    </div>
      <p style="font-size: 15px;"><a href="/import_wallet">Recover Existing Wallet (will overwrite current wallet)<a></p>

<script>
  //toggle visibility of address and balance
function toggleBalance() {
  var user_info = document.getElementById("userBalance");
  if (user_info.style.display === "none") {
    user_info.style.display = "block";
  } else {
    user_info.style.display = "none";
  }
}
//change button text when clicked
  function changeText(){
    var toggleButton = document.getElementById("toggleButton");
  if (toggleButton.innerHTML == "Hide Balance"){
    toggleButton.innerHTML = "Show Balance";
  } else{
    toggleButton.innerHTML = "Hide Balance";
  }
}
</script>

{% endblock %}