{% extends 'base.html' %}
{% block title %}Stellar Wallet - Home{% endblock %}

{% block content %}
<h3><p>Welcome! Your wallet is connected.</p></h3>

<p><button onclick="toggleAddress()">Toggle Address and Balance View</button></p>
<div id="public_info">
<h4><p>Your public address:<br>
    {{ pub_address }}</p>
<p>Current Balance: {{ user_balance }} XLM ({{ usd_equiv }})</p></h4>

<!-- to do: make this button call the get_bal function to refresh account balance -->
<p><button disabled>Refresh Balance</button></p>
</div>

    <p>Select what you'd like to do:</p>
      <p><a href = "/send">Send Funds</a></p>
      <p><a href="/transactions">View Transaction History</a></p>
      <p><a href="/check_balance">Check An Address Balance</a></p>
      <br>
      <p>Current XLM Price: {{ price }} (via <a href = "https://coingecko.com">CoinGecko</a>)</p>
      <p style="font-size:12px">Last update: {{ update_time }}</p>
      <p style="font-size:12px">Price updates upon refresh.</p>
      <p style="font-size: 15px;"><a href="/import_wallet">Recover Existing Wallet (will overwrite current wallet)<a></p>

<script>
function toggleAddress() {
  var x = document.getElementById("public_info");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
</script>

{% endblock %}