{% extends 'base.html' %}
{% block title %}More{% endblock %}

{% block content %}
<br>
<div class = "table">
<ul class="pills">
    <li class="pill"><a href="/remove_wallet">Remove Wallet</a></li>
    <li class="pill"><a href="/view_secret">View Secret Key</a></li>
</ul>
</div>

<br><br>

<form name="currency_selection" id="currency_selection" method="POST" action="/set_currency">
    <div class = "table">
        Select Native Currency:
        <select name="currency" id="currency">
            {% for currency in currency_list %}
            {% if currency=="USD" %}
            <option value="{{ currency }}" selected>{{ currency }}</option>
            {% else %}
            <option value="{{ currency }}">{{ currency }}</option>
            {% endif %}
            {% endfor %}
        </select>
        <br><br>
        <div class = "table">
            <ul class= "pills"><li class="pill">
                <button type = "submit" class="btn-empty">Change Currency</button>
            </li>
        </ul>
    </div>
</div>
</form>
<p>Last update: {{last_rate_update}} UTC</p>
<!--
    <p>
        <button>Toggle Night Mode (coming soon)</button>
    </p>
-->
{% endblock %}