{% extends 'base.html' %}
{% block title %}Remove Wallet{% endblock %}

{% block content %}
<h4><p>You are about to disconnect your wallet from this device/web app.</p></h4>
<p>Your funds will remain in your wallet, but you will need your secret phrase to access<br>
    them on this device again.</p>
    <p>Ensure that your seed phrase and/or secret key are backed up somewhere safe before proceeding.</p>
    <form action="/remove_conf">
        <div class="table">
            <ul class="pills">
                <li class="pill"><button type = "submit" class="btn-empty">I understand and wish to proceed</button></li>
            </ul>
        </div>
        <br>
        <div class="table">
            <ul class="pills">
                <li class="pill"><button type = "submit" class="btn-empty"><a href="/">Cancel</a></button></li>
            </ul>
        </div>
    </form>
    {% endblock %}