{% extends 'base.html' %}
{% block title %}Send Money{% endblock %}

{% block content %}
<center>
  <form>
    Enter the Stellar address you'd like to send money to: <br>
    <input type="text" name="address" id="address" required pattern="[G]+[A-Z0-9]{56}">
  </form><br>
  
  Memo (may not be required):
  <form>
    <label for="memo"></label>
    <input type="text">
  </form>
  <br>
  Amount (XLM):
  <form>
    <label for="amount"></label>
    <input type="number" min="0" step="0.01" required pattern="[0-9]">
  </form><br>
  Note that XLM is only precise to seven decimal places.
  <br><br>
  <form action="/confirmation">
    <label for = "submit"></label>
    <button type="button">Submit</button>
  </form>
</center>
{% endblock %}