{% extends 'base.html' %}
{% block title %}Confirmation{% endblock %}

{% block content %}
<h3>Success!</h3>
<p>You sent {{ amount }} XLM to {{ address }}.</p>
<p>View on Stellar Explorer: <a href = {{transaction_url}} target="_blank">{{ transaction_url }}</a></p>

<div class = "table">
    <ul class="pills">
        <li class="pill"><a href="/send">Send More</a></li>
    </ul>
</div>
<br>

<form action="/send_clean">
<div class = "table">
    <ul class="pills">
        <li class="pill"><a href="/send_clean">Home</a></li>
    </ul>
</div>
</form>
{% endblock %}