{% extends 'base.html' %}
{% block title %}Where to Buy{% endblock %}

{% block content %}
<h2>Exchanges to buy XLM</h2>
    <h3><a href = "https://stellarx.com/" target = "_blank">StellarX</a></h3>
    <h3><a href = "https://coinbase.com/" target = "_blank">Coinbase</a></h3>
    <h3><a href = "https://binance.us/" target = "_blank">Binance US</a></h3>
    <h3><a href = "https://binance.com/" target = "_blank">Binance (non-US customers)</a></h3>
    <h3><a href = "https://www.kraken.com/" target = "_blank">Kraken</a></h3>
    <br>
    <p>Note that XLM cannot be directly purchased from this site.</p>
    <p>CryptoShare only offers a wallet (this site), <i>not</i> an exchange.</p>
{% endblock %}