{% extends 'base.html' %}
{% block title %}Where to Buy{% endblock %}

{% block content %}
<h2>Exchanges to buy Stellar Lumens (XLM)</h2>
    <h3><a href = "https://stellarx.com/" target = "_blank">StellarX</a></h3>
    <h3><a href = "https://coinbase.com/" target = "_blank">Coinbase</a></h3>
    <h3><a href = "https://binance.us/" target = "_blank">Binance US</a></h3>
    <h3><a href = "https://binance.com/" target = "_blank">Binance (non-US customers)</a></h3>
    <h3><a href = "https://www.kraken.com/" target = "_blank">Kraken</a></h3>
    <p>Note that at this time, XLM cannot be directly purchased from this site.</p>
    <p>CryptoShare currently only offers a wallet (this site), but has plans to implement direct XLM purchases.</p>
{% endblock %}